/* Step 5 - Haraj Style UI Upgrade */

body{
    background:#f7f7f7;
}


/* Header Upgrade */

.header{
    height:70px;
    background:#fff;
    border-bottom:1px solid #eee;
}


.logo h2{
    letter-spacing:1px;
    color:#ff5500;
}


.header-right i{
    cursor:pointer;
}





/* Search Upgrade */

.search-section{
    background:#fff;
    padding:18px 15px;
}


.search-box{
    height:52px;
    border-radius:30px;
    background:#f2f2f2;
    box-shadow:none;
}


.search-box input{
    background:transparent;
}





/* Category Upgrade */

.categories{
    margin-top:10px;
    border-radius:15px;
}


.icon{
    width:60px;
    height:60px;
    transition:.3s;
}


.category:hover .icon{
    transform:translateY(-5px);
}







/* Banner Upgrade */

.banner{
    height:200px;
    margin-top:18px;
    overflow:hidden;
    position:relative;
}


.banner:after{
    content:"";
    position:absolute;
    right:-50px;
    top:-50px;
    width:180px;
    height:180px;
    background:rgba(255,255,255,.15);
    border-radius:50%;
}


.banner-content{
    position:relative;
    z-index:2;
}


.banner-content h1{
    font-size:30px;
    font-weight:800;
}


.banner-content button{
    font-weight:bold;
}







/* Product Upgrade */

.product-card{
    border-radius:18px;
    transition:.3s;
}


.product-card:hover{
    transform:translateY(-5px);
}


.product-card img{
    height:150px;
}


.product-info{
    padding:15px;
}


.product-info h3{
    font-weight:600;
    margin-bottom:5px;
}


.price{
    font-size:20px;
}





/* Sell Button Upgrade */

.sell-btn{
    background:#ff5500;
    font-size:16px;
    z-index:50;
}






/* Bottom Navigation Upgrade */

.bottom-nav{
    height:75px;
}


.nav-item{
    transition:.3s;
}


.nav-item.active i{
    transform:scale(1.15);
}
